.Title {
  text-align: center;
  text-decoration: solid;
}

ion-header {
  --ion-background-color: white;
}

.custom-avatar {
  border: 2px solid #333;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
}

ion-content {
  background: transparent;
  padding: 20px;
}

.list {
  box-shadow: 2px 2px 4px black;
  text-align: center;
}

ion-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px;
}