<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar slot="start" class="custom-avatar">
        <img src="assets/photos/utubeJr.png" alt="Logo">
      </ion-avatar>
      <ion-title class="Title">
        Youtube Jr.
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let movie of movies | keyvalue" class="list">
    <ion-item>
      <ion-label (click)="handleLabelClick(movie.value)">{{movie.value.title}}
        <p>{{movie.value.description}}</p>
      </ion-label>
      <ion-thumbnail slot="start">
        <img [src]="movie.value.thumbnailUrl" alt="{{ movie.value.title }} thumbnail">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>